$c-black: #000;
$c-blue-dark: #252536f2;
$c-blue-background: #212132;
$c-white: #ffffff;
$c-red: #fe284a;
$c-red-dark: #871628;
$c-red-brown: #de593e;
$c-yellow: #e8ce3a;
$c-aqua: #17eada;
$c-green: #6ef770;