body {
    background-color: #3333;
    color: $c-white;
}

.header {
    font-weight: 500;
    background-color: $c-blue-dark;
    position: fixed;
    width: 100%;


    &__wrapper {
        background-color: $c-blue-dark;
        margin: 0 auto;
        width: 75%;
        display: flex;
        padding: 10px 15px;

    }

    &__buttons {
        font-weight: 700;
        display: flex;
        margin: auto 0;
        margin-left: auto;
    }

    &__buttons-enter {
        color: $c-white;
        text-decoration: none;
        border-bottom: 1px solid $c-white;

    }

    &__buttons-registr {
        color: $c-white;
        background-color: $c-red;
        padding: 5px 25px;
        border-radius: 25px;
        margin: 0 10px;
        box-shadow: 0 3px 0 0 $c-red-dark, 0 4px 4px 0 #000;
        text-decoration: none;
    }

    &__logo {
        height: 35px;
        width: 170px;
    }
}

.main {
    padding-bottom: 30px;
    background: url(../../img/bg-main.svg) repeat-y $c-blue-background;
    background-size: 100%;

    &__hero {
        max-width: 100%;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            margin-top: 50px;
        }
    }

    &__hero-lazy {
        background-color: $c-blue-dark;
        height: 380px;
    }

    &__hero-img {
        width: 100%;
        object-fit: cover;
    }

    &__wrapper {
        margin: 0 auto;
        width: 75%;
    }

    &__nav {
        width: 100%;
        background-image: url(../../img/line_bg.svg);
        background-color: $c-blue-dark;
        box-shadow: inset 0 60px 40px -60px rgb(0 0 0 / 80%),
            inset 0 -60px 40px -60px rgb(0 0 0 / 80%);

        img {
            width: 40px;
        }
    }

    &__nav-wrapper {
        box-shadow: inset 0 60px 40px -60px rgb(0 0 0 / 80%),
            inset 0 -60px 40px -60px rgb(0 0 0 / 80%);
        background-image: url(../../img/line_bg.svg);
        background-color: $c-blue-dark;
        margin: 0 auto;
        width: 75%;
        display: flex;
        justify-content: space-around;
        font-size: 16px;
        font-weight: 900;
        padding: 25px 0;
        background-color: $c-blue-dark;
        text-align: center;
    }

    &__nav-descks {
        padding: 7px 0;
        border-radius: 7px;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 25%;
        color: $c-green;
        text-decoration: none;
        position: relative;

        img {
            margin-right: 7px;
        }
    }

    &__nav-descks:after {
        content: " ";
        background: $c-grey;
        width: 2px;
        height: 50px;
        right: -1px;
        position: absolute;
    }


    &__nav-descks:hover {
        background-color: $c-grey;
        color: $c-green;
    }

    &__nav-games {
        padding: 7px 0;
        border-radius: 7px;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $c-red-brown;
        text-decoration: none;
        position: relative;

        img {
            margin-right: 7px;
        }
    }

    &__nav-games:after {
        content: " ";
        background: $c-grey;
        width: 2px;
        height: 50px;
        right: -1px;
        position: absolute;
    }

    &__nav-games:hover {
        background-color: $c-grey;
        color: $c-red-brown;
    }

    &__nav-slots {
        padding: 7px 0;
        border-radius: 7px;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $c-aqua;
        text-decoration: none;
        position: relative;

        img {
            margin-right: 7px;
        }
    }

    &__nav-slots:after {
        content: " ";
        background: $c-grey;
        width: 2px;
        height: 50px;
        right: -1px;
        position: absolute;
    }

    &__nav-slots:hover {
        background-color: $c-grey;
        color: $c-aqua;
    }

    &__nav-tournirs {
        padding: 7px 0;
        border-radius: 7px;
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $c-yellow;
        text-decoration: none;

        img {
            margin-right: 7px;
        }
    }

    &__nav-tournirs:hover {
        background-color: $c-grey;
        color: $c-yellow;
    }

    &__grid {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 20px;
    }

    &__grid-game {
        cursor: pointer;
        margin: 20px 10px;
        width: 230px;
        height: 185px;
        box-shadow: 0 4px 9px 0 $c-black-light;
        border-radius: 10px;
        transition: transform .2s;
    }

    &__grid-game-link {
        font-weight: 800;
        transition: all 1s;
        display: none;
        padding: 6px 20px;
        background-color: $c-green;
        position: absolute;
        margin: 55px 0 0 -165px;
        box-shadow: 0 3px 0 0 $c-green-dark, 0 5px 4px 0 $c-black;
        border-radius: 30px;
    }

    &__grid-game:hover {

        img,
        div {
            filter: brightness(0.5);
        }

        transform: scale(1.05);

        .main__grid-game-link {
            display: inline-block;
        }
    }

    &__grid-game-img {
        -moz-background-size: 100%;
        -webkit-background-size: 100%;
        -o-background-size: 100%;
        max-width: 100%;
        border-radius: 10px 10px 0 0;
    }

    &__grid-game-title {
        text-align: center;
        background-color: $c-black-light;
        display: flex;
        width: 230px;
        height: 40px;
        border-radius: 0 0 10px 10px;

        span {
            margin: auto;
        }
    }

    &__blog {
        color: $c-white;

        h1 {
            line-height: 55px;
            width: 100%;
        }
    }

    a {
        text-decoration: none;
    }

    li {
        margin: 7px 0;
    }
}

//TABLE
.table__wrapper {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: $c-black-light;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 50%);
    font-size: 16px;
    color: $c-white;
    overflow: auto;
}

table td,
table th {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px 20px;
    text-align: center;
}

table tbody td {
    border-bottom: 1px solid $c-blue-dark;
    font-weight: 300;
}

td:first-child {
    border-right: 1px solid $c-grey;
}

//FAQ

summary {
    cursor: pointer;
    font-size: 22px;
    font-weight: 800;
    margin: 20px 0;
    color: $c-red-dark;
    display: inline;
    border-bottom: 2px solid $c-red-dark;
}

//REVIEWS

.review__item {
    border: 1px dashed $c-grey;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    background-color: rgba(22, 22, 38, .8);
    border-radius: 6px;
}

.review__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 33px;
}

.review__person {
    font-weight: 800;
    color: $c-red-dark;
}


//FOOTER
.footer {
    background-color: $c-black-light;
    font-weight: 400;

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 25px 0;
    }

    .main__wrapper {
        width: 85%;
    }

    .help {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: column;
        color: $c-grey;

        &__wrapper {
            width: 9%;
            min-width: 70px;
        }

        a {
            text-decoration: none;
            color: $c-white;
            padding: 10px;
            font-size: 15px;
            padding: 10px;
        }

        a:hover {
            transition: 0.3s;
            color: $c-grey;
        }
    }

    .help-title {
        width: 100%;
        margin: 18px 0;
        height: 30px;
        border-bottom: 1px solid $c-grey;
        line-height: 30px;
        font-size: 16px;
        font-weight: 900;
        text-transform: uppercase;
        white-space: nowrap;
        color: $c-white;
    }

    .payments {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__wrapper {
            width: 9%;
            min-width: 70px;
        }
    }
}

.partners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .partner {
        padding: 10px 15px;
        width: 125px;

        img {
            height: 50px;
        }
    }
}